{% extends 'admin/master.html' %}

{% block title %}
新建商品
{% endblock %}

{% block nothing %}
<div class="row">
    <form class="col s12" method="post" action="{{ path_for('admin.goods.store') }}" enctype="multipart/form-data">
        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
        <div class="row">
            <div class="col m6 offset-m3 s12">
                <div class="input-field">
                    <input id="name" type="text" name="name">
                    <label for="name">名称</label>
                </div>
                <div class="input-field">
                    <input id="amount" type="number" name="amount">
                    <label for="amount">库存</label>
                </div>
                <div class="input-field">
                    <input id="price" type="text" name="price">
                    <label for="price">价格</label>
                </div>
                <div class="input-field">
                    <select class="browser-default" name="category_id">
                        <option value="" disabled selected>选择分类</option>
                        {% for id, c in categories %}
                            <option value="{{ id }}">{{ c }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field">
                    <select class="browser-default" name="supplier_id">
                        <option value="" disabled selected>选择供应商</option>
                        {% for id, s in suppliers %}
                            <option value="{{ id }}">{{ s }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>图片</span>
                        <input type="file" name="image">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                </div>
                <div class="input-field">
                    <button type="submit" class="waves-effect waves-light btn red">确定</button>
                    <a href="{{ path_for('admin.goods') }}"><button type="button" class="waves-effect waves-light btn">取消</button></a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
