#main {
    padding-left: 240px;
}

#left-sidebar-nav {
    position: fixed;
    width: 100px;
    left: 180px;
    z-index: 999;
    height: auto;
}

ul.side-nav.leftside-navigation {
    top: 64px;
    overflow: hidden;
}

ul.side-nav.leftside-navigation li.user-details {
    margin-bottom: 15px;
    padding: 15px 0 0 15px;
}

ul.side-nav.leftside-navigation .profile-btn {
    margin: 0;
    text-transform: capitalize;
    padding: 0;
    text-shadow: 1px 1px 1px #444;
    font-size: 15px;
}

ul.side-nav.leftside-navigation li:hover {
    background-color: rgba(0,0,0,0.04);
}
ul.side-nav.leftside-navigation li {
    line-height: 44px;
}
.side-nav a {
    line-height: 42px;
    height: 42px;
}

ul.side-nav.leftside-navigation li.user-details #profile-dropdown a {
    padding: 8px 15px;
}
ul.side-nav.leftside-navigation li a {
    font-size: 14px;
    font-weight: 400;
}
#slide-out li a i {
    line-height: inherit;
    width: 2rem;
    font-size: 1.5rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}

#breadcrumbs-wrapper {
    background: #f3f3f3;
}

#content .header-search-wrapper {
    width: 100%;
    margin: 0 auto;
    height: 40px;
    display: inline-block;
    position: relative;
}

.header-search-wrapper {
    margin: 10px auto 0 240px;
    width: calc(100% - 600px);
    height: 40px;
    display: inline-block;
    position: relative;
}

.cate-title {
    font-size: 1.5rem;
    line-height: 1.804rem;
    margin: 18px 0 0;
}

.adjust {
    padding: 0;
    margin: 15px 0;
    list-style: none;
}

@media only screen and (min-width: 993px) {
    .my-container {
        width: 96%;
    }
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
